<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ usuario?.nombre }}</h2>
  <p>Rol: {{ usuario?.rol }}</p>

  <!-- Botones para todos los usuarios -->
  <ion-button expand="block" routerLink="/materiales">Ver materiales</ion-button>
  <ion-button expand="block" routerLink="/reservas">Mis reservas</ion-button>

  <!-- Solo para ADMIN -->
  <div *ngIf="usuario?.rol === 'ADMIN'">
    <ion-button expand="block" color="warning" routerLink="/usuarios">Ver usuarios</ion-button>
    <ion-button expand="block" color="warning" routerLink="/admin">Panel Admin</ion-button>
  </div>
</ion-content>
