
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: blue; 
    color: white; 
    text-align: center;
}

.ion-tab-bar {
    background-color: blueviolet !important; 
    border-top: 2px solid #333;
}

.ion-tab-button {
    color: white !important;
    font-size: 14px;
}

.ion-tab-button.ion-selected {
    color: #4caf50 !important; 
}

.ion-card {
    width: 90%;
    max-width: 400px;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.ion-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
}
