<ion-content class="login-content">
  <div class="login-card">
    <ion-title class="login-title">Iniciar Sesión</ion-title>
    <p class="welcome-subtitle">Bienvenido a UniLab+</p>

    <ion-item lines="none" class="input-placeholder-fix">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email" clearInput></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-placeholder-fix">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" clearInput></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="iniciarSesion()">Ingresar</ion-button>

    <ion-button fill="clear" routerLink="/register">¿No tienes cuenta? Crear una</ion-button>
  </div>
</ion-content>
