<ion-content class="register-content">
  <div class="register-card">
    <ion-title class="register-title">Registro</ion-title>
    <p class="register-subtitle">Crea tu cuenta en UniLab+</p>

    <ion-item lines="none">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="registrarse()">Registrar</ion-button>
    <ion-button fill="clear" routerLink="/login">Ya tengo cuenta</ion-button>
  </div>
</ion-content>
